/* src/assets/base.css */

/* box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset margins */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  line-height: 1.5;
}
