.post-mini {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    
    width: 270px;
    height: 270px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 15%, rgb(0, 0, 0)80%),
    url('img/avatar.png');
    background-size: cover; /* Подгоняет картинку под размер блока */
    background-position: center; /* Центрирует картинку */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column; /* Ставит элементы вертикально */
    justify-content: flex-end; /* Выровнять элементы снизу */
    justify-items: stretch;
     /* Центрировать по горизонтали */

     /* Выравнивание заголовка по левому краю */  /* Заголовок занимает всю ширину контейнера */
    padding: 15px;
}
.post-mini .content-main{
    align-items: left;
    margin-bottom: 15px;
}
.post-mini .content-main .title{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}


.content-bottom {
    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Элементы: слева, по центру, справа */
    align-items: center; /* Выравниваем элементы вертикально */
    width: 100%; /* Контейнер занимает всю ширину */
    color: white; /* Цвет текста (для видимости) */
}




/*------------------------------------------------------*/
.card-alt {
    width: 250px;
    height: 250px;
    background-image: url('img/kakashi-ava.png');
    background-size: cover; /* Подгоняет картинку под размер блока */
    background-position: center; /* Центрирует картинку */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}